<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Задание AngularJS</title>

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js\script.js"></script> 
    
</head>
<body ng-app='mission'>
    <div class="cont" ng-controller='controllerCompany'>
        <h3 class="panel-heading">количество компаний: {{data.allCompany.length}}</h3>
        <div class="container-fluid">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">добавить</button>
            <hr>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Наименование</th>
                        <th>Адрес</th>
                        <th>ОГРН</th>
                        <th>ИНН</th>
                        <th>Дата регистрации</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='company in data.allCompany' inline-edit="company.adres">
                        <td>{{$index+1}}</td>
                        <td class="col-md-5">{{company.name}}</td>
                        <td class="col-md-4">
                            <label style="cursor: pointer" ng-hide="editMode" ng-click="edit()">{{company.adres}}</label>
                            <input type="text" on-enter="save()" on-esc="cancel()" ng-model="modelDir" ng-show="editMode">
                            <button class="btn btn-danger" ng-click="cancel()" ng-show="editMode">X</button>
                            <button class="btn btn-success" ng-click="save()" ng-show="editMode">V</button>
                        </td>
                        <td class="col-md-1">{{company.ogrn}}</td>
                        <td class="col-md-1">{{company.inn}}</td>
                        <td class="col-md-1">{{company.dataReg}}</td>
                        <td><button class="btn btn-danger" ng-click='deleteCompany($index)'>удалить</button></td>
                    </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Организация или ИП</h4>
                </div>
                <div class="modal-body">
                    <input id="party" name="party" type="text" size="100" 
                        placeholder='Введите название в свободной форме, адрес, ИНН или ОГРН'/> 
                </div>
            </div>
        </div>
    </div> 
    
    
        <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.3.3/dist/css/suggestions.min.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!--[if lt IE 10]>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/suggestions-jquery@18.3.3/dist/js/jquery.suggestions.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>
</html>